@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  cursor: pointer;
  display: inline-block;
  text-decoration: none; 
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header {
  width: 100%;
  position: absolute;
  z-index: 2;
}

header .wrapper { 
  width: 88.5%; 
  padding: 26px 0 24px;
  border-bottom:  1px solid rgba(221, 221, 221);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff;
}

.menu { 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-basis: 58.5%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

nav { flex-basis: 78%; }

nav a {
  box-sizing: border-box;
  padding: 2px;
  margin-top: 3px;
  color: #fff;
  letter-spacing: 1px;
  font: 600 13px sans-serif;
  text-transform: uppercase;
}

nav li:not(:first-child) { padding-left: 8%; }

.active { color: #feac00; }

.socialMenus a {
  text-indent: -9999px;
}

.socialMenus a:before {
  float: right;
  color: #fff;
  font : 20px fontAwesome;
  text-indent: 0;
}

.Facebook:before { content: "\f230"; }

.twitter:before { content: "\f099"; }

.Instagram:before { content: "\f16d"; }

.dropDownContainer { position: relative; }

.dropDownContainer > a:after { 
  content: '\f107';
  font : 14px fontAwesome;
} 

.dropDown {
  width : 100%;
  padding: 8px 42%;
  display: none;
  position: absolute;
  left : 0;
  background: #fff;
}

.dropDown li:not(:first-child) { padding-left: 0; }

.dropDown a { color: #000; }

.socialMenus { flex-basis: 15%; }

.socialMenus li:not(:last-child) { padding-right: 14%; }

.hamburger {
  width: 20px;
  display: block;
  float : right;
  position: relative;
  z-index: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
} 

.hamburger span {
  width: 100%;
  height: 2px;
  display: none;
  position: absolute;
  background : #000;
  text-indent: -9999px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) { top : 0; }

.hamburger span:nth-child(2) { top : 6px; }

.hamburger span:nth-child(3) { top : 12px; }

.hamburger.open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.hamburger.open span:nth-child(2) {  opacity: 0; }

.hamburger.open span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.showhide { display: block; }


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.servicesInfo,
.servicesInfo + ul,
.weProvideContainer,
.serviceProvides ,
.project ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.serviceProvides,
.project ul { flex-wrap: wrap; }

p {
  font :  400 17.6px sans-serif;
  line-height: 28.8px;
  color: #555;

}

/*slick style start*/

.bannerSlider li { display: block; }

.banner .slick-dots {
  width: 10%;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 4%;
  text-align: unset;
}

.banner .slick-dots li button:before { 
  z-index: 1;
  font-size: 12px; 
}

.banner .slick-dots li.slick-active button:before { color: #feac00; }

/*slick style end*/

/*banner styling start*/

h2 {
  color: #fff;
  font : 700 59px sans-serif;
  letter-spacing: 2px;
  text-align: center;
  text-transform: capitalize;
}

.banner .wrapper { 
  width: 100%; 
  position: relative;
}

.bannerText {
  position: absolute;
  z-index: 2;
  top : 50%;
  left : 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.buttons { 
  margin: 62px 0 136px;
  text-align: center;
}

.buttons a {
  padding : 11px 30px;
  border : 2px solid transparent;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.buttons li:first-child { margin-right: 2%; }

.buttons li:first-child a {
  border: 2px solid #feac00;
  border-radius: 5px;
  background: #feac00;
  color: #000;
}

.buttons li:last-child a {
  border: 2px solid #fff;
  border-radius: 5px;
  background: transparent;
  color: #fff;
}

.bannerSlider:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.6;
}

.buttons + ul {
  color: #fff;
  text-align: center;
}

.buttons + ul li:not(:last-child) { margin-right: 8%; }

.counter {  
  margin-right : 20px;
  font : 700 30px sans-serif; 
}

.counterInfo {  font : 300 20px sans-serif;  }

/*banner styling end*/
/*designBuild styling start*/

h3 {
  font : 700 40px sans-serif;
  text-transform: capitalize;
}

.designBuild h3 { margin-bottom: 36px; }

h3 span { color: #feac00; }

.designBuild p { margin-bottom: 33px; }

.designBuild { margin: 107px 0 100px; }

.YellowButton {
  padding: 11px 30px;
  border: 2px solid #feac00;
  border-radius: 5px;
  background: #feac00;
  color: #222;  
  font-size: 16px;
  text-transform: capitalize;
}

/*designBuild styling end*/
/*services styling start*/

.services {
  padding: 98px 0 117px;
  background: #f7f7f7;
}

.servicesInfo { 
  padding-bottom: 48px;
  margin-bottom : 59px;
  border-bottom: 1px solid #ddd;
}

.servicesInfo li { flex-basis:  49%; }

h4 {
  font : 600 24px sans-serif;
  letter-spacing: 1px;
  line-height: 25.6px;  
  text-transform: capitalize;
}

h5 {
  font :  600 19.2px sans-serif;
}

h4 span { text-transform: lowercase; }

h4 a , 
h5 a { color: #222222; }

.services p {  
  margin: 15px 0; 
  font-size: 16px;
}

.services p:last-of-type { margin-top: 0; }

.servicesInfo + ul  li {
  flex-basis:  24%;
  position: relative;
}

.servicesInfo + ul {
  justify-content: space-around;
}

.servicesInfo + ul  li:before {
  font : 32px fontAwesome;
  float: left;
  position: absolute;
  left: -10%;
  color: #ffc107;
}

.servicesInfo + ul h5 { margin-bottom : 10px; }

.servicesInfo + ul  h5, 
.servicesInfo + ul p { margin-left: 10%; }

.servicesInfo + ul  li:nth-child(1):before {  content: "\f0ac"; } 

.servicesInfo + ul  li:nth-child(2):before {  content: "\f109"; } 

.servicesInfo + ul  li:nth-child(3):before {  content: "\f2b5"; } 

/*services styling end*/
/*weProvide STYLING start*/

.weProvide  {  
  padding : 130px 0 121px;
  background: url('https://via.placeholder.com/1284x689.png/312113');
  background-size: cover;
  background-repeat:  no-repeat; 
  background-position: center; 
  color: #fff;
}

.weProvideContainer h4 { 
  margin-bottom : 11.2px;
  font-size: 19.2px; 
}

.weProvideContainer li:first-child p { margin: 20px 0; }

.weProvide p,
.weProvide a { color: #fff; }

.weProvide p {
  font-size: 16px;
}

.weProvideContainer li:first-child { flex-basis: 38%; }

.weProvideContainer li:last-child { flex-basis: 52%; }

.serviceProvides li:first-child, 
.serviceProvides li:last-child { 
  position: relative;
  flex-basis: 41%; 
}

.serviceProvides li { 
  margin-bottom: 80px; 
  position: relative; 
  flex-basis: 41%; 
}

.serviceProvides li:before { 
  float: left;
  font : 32px fontAwesome;
  position: absolute;
  top: 4%;
  left: -20%;
}

.serviceProvides li:nth-child(1):before { content: "\f1fc"; }

.serviceProvides li:nth-child(2):before { content: "\f0a1"; }

.serviceProvides li:nth-child(3):before { content: "\f132"; }

.serviceProvides li:nth-child(4):before { content: "\f0eb"; }

.weProvideContainer img,
.servicesInfo img { border-radius: 4px; }

/*weProvide styling end*/
/*project section start*/

.project li { flex-basis : 31%; }

.project figure {  
  border: 6px solid #f0f0f1; 
  border-radius: 4px;
}

.project ul { margin-top: 47px; }

/*project styling end*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/

/*media query for remove hover below 1024px */
@media only screen and (min-width: 1024px) {

  nav a:hover,
  .socialMenus a:hover::before,
  h4 a:hover,
  h5 a:hover { color: #feac00; }

  .dropDownContainer:hover .dropDown { display: block; }

  .banner .slick-dots li.slick-active button:hover::before { color: #fff; }

  .buttons li:last-child a:hover {
    border: 2px solid #feac00;
    border-radius: 5px;
    background: #feac00;
    color: #000;
  }

  .YellowButton:hover {
    border: 2px solid #222;
    background: #222;
    color: #feac00;  
  }

}


/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  